.separator {
  background: var(--color-icon-muted);
  border-radius: var(--round-max);
}

.separator[data-horizontal] {
  width: auto;
  height: var(--thikness-sm);
}

.separator[data-vertical] {
  height: auto;
  width: var(--thikness-sm);
}
