.currentTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  opacity: var(--current-time-opacity);
  top: 0;
  height: calc(100% - var(--padding-sm));
  z-index: 10;
  pointer-events: none;
}

.head {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  border-radius: var(--round-max);
  background: var(--current-time-color);
  cursor: pointer;
  z-index: 2;
}

.bar {
  margin-top: -10px;
  height: 100%;
  width: var(--thikness-sm);
  border-radius: var(--round-max);
  background: var(--current-time-color);
  pointer-events: none;
}
