.item {
  display: flex;
  padding: var(--padding-sm);
  border-radius: var(--round-md);
}

svg {
  height: var(--icon-size-md);
  width: var(--icon-size-md);
  fill: var(--color-icon-default);
}

.item[data-active='true'] {
  background-color: var(--color-accent-variant);
}

.item[data-active='true'] svg {
  fill: var(--color-icon-dark);
}
