.tracks {
  --track-height: 100px;
  display: flex;
  flex: 1;
  position: relative;
  background-image: linear-gradient(
    to top,
    var(--color-background-dark) var(--track-height),
    var(--color-background-darker) var(--track-height)
  );
  background-size: 100% calc(2 * var(--track-height));
  background-repeat: repeat;
  border-radius: var(--round-lg);
}
