.app {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr var(--effects-width);
  grid-template-rows: auto 1fr;
  gap: var(--padding-lg);
  background-color: var(--color-background-default);
  padding: var(--padding-md);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.dragable {
  -webkit-app-region: drag;
}

.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: #0006;
  backdrop-filter: blur(1px);
  z-index: 12;
}

.loadingOverlay svg {
  width: 60px;
  height: 60px;
}
