.app {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr var(--effects-width);
  grid-template-rows: auto 1fr;
  gap: var(--padding-lg);
  background-color: var(--color-background-default);
  padding: var(--padding-md);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}
