.app {
  align-items: stretch;
  background-color: var(--color-background-default);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--padding-lg);
  padding: var(--padding-md);
}

.main {
  display: flex;
  flex: 1;
  gap: var(--padding-lg);
}

.header {
  align-items: stretch;
  padding-right: 270px;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}
