.range {
  display: block;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  height: var(--option-height);
  border-radius: var(--round-md);
  background: var(--color-background-dark)
    linear-gradient(var(--color-accent-variant), var(--color-accent-variant))
    no-repeat;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: transparent;
  cursor: ew-resize;
}

.rangeContainer {
  position: relative;
}

.label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
}
