.timeMarkers {
  width: 100%;
  height: var(--thikness-lg);
  border-radius: var(--round-md);
  position: relative;
}

.timeMarkers input {
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  background: transparent;
}

.timeMarkers input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: transparent;
}

.ticks {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  translate: 0 -95%;
}
