.timeMarkers {
  width: 100%;
  height: var(--thikness-lg);
  background: var(--color-background-dark);
  border-radius: var(--round-md);
}

.timeMarkers input {
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  background: transparent;
}

.timeMarkers input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: transparent;
}
