.toggle {
  width: 60px;
  height: 30px;
  background-color: var(--color-background-dark);
  display: flex;
  justify-content: flex-start;
  border-radius: var(--round-max);
  padding: 5px;
  cursor: pointer;
}

.toggle[data-enabled='true'] {
  justify-content: flex-end;
}

.toggle[data-enabled='true'] .handle {
  background: var(--color-accent-variant);
}

.handle {
  aspect-ratio: 1;
  height: 100%;
  background-color: var(--color-icon-default);
  border-radius: var(--round-max);
}
