* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  font-family: var(--font-family);
  color: var(--color-text-default);
  background: var(--color-background-default);
  overflow: hidden;
  user-select: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-app-region: no-drag;
}

input[type='text'] {
  font: inherit;
  color: inherit;
  outline: none;
  border: none;
  background: none;
}
