* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--color-text-default);
  background: var(--color-background-default);
  overflow: hidden;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-app-region: no-drag;
}
