:root {
  --color-background-default: rgba(51, 51, 51, 1);
  --color-background-dark: rgba(35, 35, 35, 1);
  --color-background-darker: rgba(30, 30, 30, 1);

  --color-accent-bright: rgb(192, 232, 171);
  --color-accent-default: rgba(115, 165, 91, 1);
  --color-accent-variant: rgb(76, 125, 171);

  --color-text-default: rgba(238, 238, 238, 1);

  --color-icon-bright: rgba(238, 238, 238, 1);
  --color-icon-default: rgba(156, 156, 156, 1);
  --color-icon-muted: rgb(87, 87, 87);
  --color-icon-dark: rgba(51, 51, 51, 1);

  --font-family: 'JetBrains Mono', monospace;
  --font-size-lg: 20px;
  --font-size-md: 16px;
  --font-size-sm: 12px;

  --padding-lg: 20px;
  --padding-md: 10px;
  --padding-sm: 7px;
  --padding-xsm: 2px;

  --round-max: 999px;
  --round-lg: 10px;
  --round-md: 5px;

  --thikness-lg: 15px;
  --thikness-md: 10px;
  --thikness-sm: 3px;

  --icon-size-md: 20px;

  --current-time-opacity: 0.56;
  --current-time-color: white;

  --header-height: 30px;
  --effects-width: 250px;
  --track-height: 100px;
  --option-height: 34px;
}
