.audioSlice {
  position: absolute;
  height: calc(var(--track-height) - 2 * var(--padding-sm));
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: var(--round-md);
  background: var(--color-accent-default);
  padding: var(--padding-sm);
  margin-top: var(--padding-sm);
  margin-left: var(--padding-sm);
  border-right: var(--thikness-sm) solid var(--color-accent-bright);
  border-left: var(--thikness-sm) solid var(--color-accent-bright);
}

.audioSlice[data-has-neighbor-left='true'][data-selected='false'] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.audioSlice[data-is-panning='true'] {
  z-index: 5;
}

.audioSlice[data-has-neighbor-right='true'][data-selected='false'] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.verticalSpacer,
.horizontalSpacer {
  position: absolute;
}

.verticalSpacer {
  top: 0;
  left: 100%;
  width: var(--padding-sm);
  height: 100%;
}

.horizontalSpacer {
  top: 100%;
  left: 0;
  height: var(--padding-sm);
  width: 100%;
}

.name,
.editName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audioSlice[data-selected='true'] {
  border: var(--thikness-sm) solid var(--color-accent-bright);
  margin-top: calc(var(--padding-sm) - var(--thikness-sm));
  height: calc(
    var(--track-height) - 2 * (var(--padding-sm) - var(--thikness-sm))
  );
  z-index: 5;
}

.deleteButton svg {
  fill: var(--color-icon-bright);
  height: var(--icon-size-sm);
}
