.audioSlice {
  --slice-padding: var(--padding-sm);
  height: calc(var(--track-height) - 2 * var(--slice-padding));
  position: absolute;
  border-radius: var(--round-md);
  background: var(--color-slice-default);
}

.name {
  position: absolute;
  bottom: var(--padding-sm);
  left: var(--padding-sm);
}
