.audioSlice {
  height: calc(var(--track-height) - 2 * var(--padding-sm));
  position: absolute;
  border-radius: var(--round-md);
  background: var(--color-accent-default);
}

.name,
.editName {
  position: absolute;
  width: calc(100% - 2 * var(--padding-sm));
  bottom: var(--padding-sm);
  left: var(--padding-sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audioSlice[data-selected='true'] {
  outline: var(--thikness-sm) solid var(--color-accent-bright);
}
