.audioSlice {
  position: absolute;
  height: calc(var(--track-height) - 2 * var(--padding-sm));
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: var(--round-md);
  background: var(--color-accent-default);
  padding: var(--padding-sm);
  margin-top: var(--padding-sm);
  margin-left: var(--padding-sm);
}

.verticalSpacer,
.horizontalSpacer {
  position: absolute;
}

.verticalSpacer {
  top: 0;
  left: 100%;
  width: var(--padding-sm);
  height: 100%;
}

.horizontalSpacer {
  top: 100%;
  left: 0;
  height: var(--padding-sm);
  width: 100%;
}

.name,
.editName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audioSlice[data-selected='true'] {
  outline: var(--thikness-sm) solid var(--color-accent-bright);
}

.deleteButton svg {
  fill: var(--color-icon-bright);
  height: var(--icon-size-sm);
}
