.scrollBar {
  background: var(--color-icon-default);
  height: var(--thikness-md);
  position: relative;
  border-radius: var(--round-max);
}

.start,
.end {
  position: absolute;
  background: var(--color-icon-bright);
  top: var(--padding-xsm);
  height: calc(var(--thikness-md) - 2 * var(--padding-xsm));
  width: calc(var(--thikness-md) - 2 * var(--padding-xsm));
  z-index: 10;
  border-radius: var(--round-max);
}

.start {
  left: var(--padding-xsm);
}

.end {
  right: var(--padding-xsm);
}
