.scrollBar {
  background: var(--color-icon-default);
  position: relative;
  border-radius: var(--round-max);
}

.start,
.end {
  position: absolute;
  background: var(--color-icon-bright);
  z-index: 10;
  border-radius: var(--round-max);
  height: calc(var(--thikness-md) - 2 * var(--padding-xsm));
  width: calc(var(--thikness-md) - 2 * var(--padding-xsm));
}

.scrollBar[data-horizontal='true'] {
  height: var(--thikness-md);
}

.scrollBar[data-vertical='true'] {
  width: var(--thikness-md);
}

.scrollBar[data-horizontal='true'] .start,
.scrollBar[data-horizontal='true'] .end {
  top: var(--padding-xsm);
}

.scrollBar[data-vertical='true'] .start,
.scrollBar[data-vertical='true'] .end {
  left: var(--padding-xsm);
}

.scrollBar[data-horizontal='true'] .start {
  left: var(--padding-xsm);
}

.scrollBar[data-horizontal='true'] .end {
  right: var(--padding-xsm);
}

.scrollBar[data-vertical='true'] .start {
  top: var(--padding-xsm);
}

.scrollBar[data-vertical='true'] .end {
  bottom: var(--padding-xsm);
}
