.scrollBar {
  background: var(--color-line);
  height: 10px;
  position: relative;
  border-radius: var(--round-max);
}

.start,
.end {
  position: absolute;
  background: var(--color-line);
  top: 2px;
  height: 6px;
  width: 6px;
  z-index: 10;
  border-radius: var(--round-max);
}

.start {
  left: 2px;
}

.end {
  right: 2px;
}
